body{
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 120%;
}

.timer-container {
    position: absolute;top: 15px;
    left: 10px;

}
.score-display {
    position: absolute; top: 10px;
    right: 5px;
}
.answers-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.answers-container>button{
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
}
.answers-container>button:hover{
    background-color: black;
    color: white;
}